.card {
  font-family: arial;
  font-size: 20px;
  text-align: left;
  color: black;
  background-color: white;
}
.Words {
  font-size: 1.5em;
  line-height: 2;
  background-color: #d0d4ea;
}
.Description {
  font-size: 1.3em;
  text-align: left;
  line-height: 1.3;
  border-radius: 1.2em 0.2em;
}
.Phrases {
  font-size: 1.3em;
  text-align: center;
  border-radius: 0.3em;
  padding: 0.5em;
}
.Sentences {
  font-size: 1.25em;
  text-align: left;
  margin: 0.5em;
}
.mytitle {
  font-size: 1.3em;
  font-weight: bold;
}
.section {
  box-shadow:
    0 1px 2px 0px rgba(0, 0, 0, 0.16),
    0 0px 0px 1px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  margin: 8px 0 8px 0;
}
.hightlight {
  font-size: 13px;
  border-radius: 4px;
  color: #fff;
  padding: 0 3px;
  margin-right: 5px;
}
img {
  max-width: 50%;
  height: auto;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
img:hover {
  max-width: 80%;
  height: auto;
}
/* Implement counters and numbering for h2-h6 titles */

h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

h2:before {
  content: counter(h2, decimal) " ";
  counter-increment: h2;
}

h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) " ";
  counter-increment: h3;
}

h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "."
    counter(h4, decimal) " ";
  counter-increment: h4;
}

h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "."
    counter(h4, decimal) "." counter(h5, decimal) " ";
  counter-increment: h5;
}

h6:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "."
    counter(h4, decimal) "." counter(h5, decimal) " " counter(h6, decimal) ". ";
  counter-increment: h6;
}

/* Implement similar counters and numbering in the TOC  */

nav.table-of-contents li ul {
  counter-reset: toc-counter;
}
nav.table-of-contents li {
  display: block;
}
nav.table-of-contents :not(li) ul li:before {
  content: counters(toc-counter, ".") " ";
  counter-increment: toc-counter;
}
